.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 100vh;
  background-color: black;

  .logoImage {
    height: 200px;
    width: 200px;
    margin-left: 22px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      height: 140px;
      width: 140px;
    }
}

  svg {
    font-size: 35px;
    color: #d83c95;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .buttonWrapper {
    width: 200px;
    padding-top: 20px;
    margin: 0 auto;
  }
}
